<%= form_with url: update_example_facts_path(example),
              method: 'post' do |f|%>
  <% available_properties.each do |p| %>
    <div class="form-row">
      <div class="col-12">
        <div class="form-check mb-2">
          <%= f.check_box "example_facts[properties][#{p.id}]",
                          class: 'form-check-input' %>
          <%= f.label "example_facts[properties][#{p.id}]",
                      p.name,
                      { class: 'form-check-label' } %>
        </div>
      </div>
    </div>
  <% end %>
  <div class="row mt-2">
    <div class="col-12">
      <strong>
        <%= t("property.create.title") %>
      </strong>
    </div>
  </div>
  <div class="form-group">
    <%= f.label "example_facts[new_property]",
                t('property.edit.name') %>
    <%= f.text_field "example_facts[new_property]",
                     class: 'form-control' %>
  </div>
  <%= f.hidden_field "example_facts[satisfied]",
                     value: satisfied %>
  <div class="row mt-4">
    <div class="col-12 text-center">
      <%= f.submit t('buttons.save'),
                   class: "btn btn-primary" %>
      <button type="button"
              class="btn btn-secondary"
              data-bs-dismiss="modal">
        <%= t('buttons.cancel') %>
     </button>
    </div>
  </div>
<% end %>